*{
    font-family: Arial, Helvetica, sans-serif;
}
/* Style Body */
body{
    color:#F6F3EA;
    background-color:#7C93C3;
}
.main-tittle{
    color: aliceblue;
    margin: 0;
    text-align: center;
}

/* Style Button */
button{
    color: #F6F3EA;
    background-color: #55679C;
    border: 1px #F6F3EA;
    border-style: solid;
    border-radius: 10em;
}
.pilih-bangun-datar{
    display: flex;
    gap: 5px;
    padding: 10px;
}
.btn-segitiga,.btn-jajargenjang{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}
/* Button Hover */
button:hover{
    background-color: #1E2A5E;
}
/* Button Active */
.btn-segitiga:active,.btn-jajargenjang:active{
    background-color: #1E2A5E;
}

/* Style Main Content */
.main-content{
    display: flex;
    background-color: #55679C;
    margin: 0px -10x 75px;
    width: 100%;
    height: 100%;
}
.left-content,.right-content{
    flex: 1;
    background-color: #7C93C3;
    display: none;
}

.left-content h1,.right-content h1{
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: center;
    margin-bottom: 30px;
}

/* Style Form */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Styl Hasil */
.form-luas-segitiga,.form-keliling-segitiga,.form-luas-jajang-genjang,.form-keliling-jajar-genjang{
    margin: auto;
    padding: 1em;
    border: 1px #F6F3EA;
    border-radius: 2em;
    border-style: solid;
    width: 90%;
    background-color: #295F98;
}

input[type=number]{
    width: 95%;
    height: 30px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 3em;
    font-size: 16px;
}

.hasil-luas-segitiga,.hasil-keliling-segitiga,.hasil-luas-jajar-genjang,.hasil-keliling-jajar-genjang{
    margin-top: 30px;
    margin-left: 10px;
}

.btn-hitung,.btn-reset{
    width: 95%;
    height: 30px;
    padding: 5px;
    border-radius: 3em;
    font-size: 16px;
    margin-top: 2em;
}